Java_homework/joelle_workspace/wsclienttest/wsclienttest/Web References/wsdemo/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="urn:WS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="urn:WS" targetNamespace="urn:WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="addResponse">
    <wsdl:part name="addReturn" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="sayHelloRequest" />
  <wsdl:message name="authenticateRequest">
    <wsdl:part name="usercode" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="sayHelloReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part name="authenticateReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part name="n1" type="xsd:int" />
    <wsdl:part name="n2" type="xsd:int" />
  </wsdl:message>
  <wsdl:portType name="WS">
    <wsdl:operation name="add" parameterOrder="n1 n2">
      <wsdl:input name="addRequest" message="impl:addRequest" />
      <wsdl:output name="addResponse" message="impl:addResponse" />
    </wsdl:operation>
    <wsdl:operation name="authenticate" parameterOrder="usercode password">
      <wsdl:input name="authenticateRequest" message="impl:authenticateRequest" />
      <wsdl:output name="authenticateResponse" message="impl:authenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input name="sayHelloRequest" message="impl:sayHelloRequest" />
      <wsdl:output name="sayHelloResponse" message="impl:sayHelloResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSoapBinding" type="impl:WS">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="add">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addRequest">
        <wsdlsoap:body use="literal" namespace="urn:WS" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <wsdlsoap:body use="literal" namespace="urn:WS" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="authenticateRequest">
        <wsdlsoap:body use="literal" namespace="urn:WS" />
      </wsdl:input>
      <wsdl:output name="authenticateResponse">
        <wsdlsoap:body use="literal" namespace="urn:WS" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sayHelloRequest">
        <wsdlsoap:body use="literal" namespace="urn:WS" />
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <wsdlsoap:body use="literal" namespace="urn:WS" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSService">
    <wsdl:port name="WS" binding="impl:WSSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/WSDEMO/services/WS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>